@import "ScssHelpers/helpers_all";

.aside {
	position: relative;
	background-color: $white;
	@include bp($point_4, min) {
		width: 27%;
		height: 100vh;
		padding: 3.6rem 2.8rem;
	}

	@include bp($point_4 - 1) {
		width: auto;
		padding: 2rem 2rem;
	}
}

.aside_in {
	height: 100%;
	width: 100%;
	@include bp($point_4, min) {
		@include flex_block(column, nowrap, flex-start, center);
	}

	@include bp($point_4 - 1) {
		@include flex_block(row, nowrap, flex-start, center);
	}
}
//----------------------aside logo----------------
.aside__logo {
	@extend %global_flex_block_row_nowrap_flex-start_center;

	@include bp($point_4, min) {
		&:not(:last-child) {
			margin-bottom: 5.2rem;
		}
	}

	@include bp($point_4 - 1) {
		margin: 0 auto;
	}
}

.aside__logo_icon {
	flex-shrink: 0;

	color: $black;
	@extend %contain_img;
	@include bp($point_4, min) {
		width: 3.6rem;
		height: 3.6rem;
	}

	@include bp($point_4 - 1) {
		width: 3rem;
		height: 3rem;
	}
}

.aside__logo_title {
	@extend %logo_size;
}

//----------------------aside logo----------###
//--------------------aside menu------------
.aside__menu {
	@include bp($point_4, min) {
		width: 100%;
		margin-bottom: auto;
	}
	@include bp($point_4 - 1) {
		position: absolute;
		top: 8rem;
		left: 0;
		width: 100%;
		height: auto;
		padding: 3rem;
		background-color: $body_bg;
		border-radius: 0.5rem;
		transform: translateX(-100%);
		z-index: 100;
		transition: transform 0.3s ease;

		.body--open_menu_state & {
			transform: translateX(0);
		}
	}
}

.aside__menu_list {
	@include bp($point_4 - 1) {
	}
}

.aside__menu_item {
	padding: 1rem;
	border-radius: 0.8rem;
	transition: background 0.3s ease;

	@media (any-hover: hover) {
		&:hover {
			background: $link_bg;
			.aside__menu_arrow,
			.aside__menu_icon,
			.aside__menu_title {
				color: $white;
			}
		}
	}

	@include bp($point_4, min) {
		&:not(:last-child) {
			margin-bottom: 1.8rem;
		}
	}
}

.aside__menu_link {
	@extend %global_flex_block_row_nowrap_flex-start_center;
}

.aside__menu_icon {
	flex-shrink: 0;
	width: 2.4rem;
	height: 2.4rem;
	color: $color_link_menu;
	transition: color 0.3s ease;
	&:not(:last-child) {
		margin-right: 1.4rem;
	}
}

.aside__menu_title {
	margin-right: auto;
	@extend %title_size;
	color: $color_link_menu;
	transition: color 0.3s ease;
	@include bp($point_4) {
		// display: none;
	}
}

.aside__menu_arrow {
	flex-shrink: 0;
	height: 1rem;
	width: 1rem;
	color: $color_link_menu;
	transition: color 0.3s ease;
}

//--------------------aside menu------###
// --------------------user-----------

.aside__user {
	@extend %global_flex_block_row_nowrap_flex-start_center;
}

.aside__user_image {
	flex-shrink: 0;
	width: 4.2rem;
	height: 4.2rem;
	overflow: hidden;
	border-radius: 50%;
	&:not(:last-child) {
		margin-right: 1.2rem;
	}
}

.aside__user_image_in {
	display: block;
	height: 100%;
	width: 100%;
}

.aside__user_image_img {
	@extend %cover_img;
}

.aside__user_content {
	@include bp($point_4) {
		display: none;
	}
}

.aside__user_name {
	display: block;
	@extend %title_size;
	color: $black;
}

.aside__user_rank {
	display: block;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.8;
	letter-spacing: 0.01em;

	color: #757575;
}

// --------------------user-----------###

//---------------------------------------------trigger
@mixin user_menu_butt_line {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 0.4rem;
	margin-top: -0.2rem;
	background: $color_text_base;
	border-radius: 5px;
}

.aside__menu_trigger {
	z-index: 210;
	position: relative;
	display: none; // hidden on wide screens
	height: 100%;
	width: 3rem;
	flex-shrink: 0;
	text-transform: uppercase;

	color: transparent;
	cursor: pointer;

	@include bp($point_4 - 1) {
		display: block; // appear on tablets
	}

	&:before {
		content: "";
		max-width: 2rem;
		transform: translateY(-1rem);
		transition: all 0.3s ease;

		@include user_menu_butt_line;
	}

	&:after {
		content: "";
		max-width: 100%;
		transform: translateY(1rem);
		transition: all 0.3s ease;

		@include user_menu_butt_line;
	}

	&.menuTrigger--active_mod {
		&:before {
			max-width: 100%;
		}

		&:after {
			max-width: 2rem;
		}
	}
}

.aside__menu_trigger_decor {
	max-width: 2.4rem;
	@extend %transition_all;

	.menuTrigger--active_mod & {
		max-width: 2.2rem;
	}

	@include user_menu_butt_line;
}

//---------------------------------------------trigger###
