mixin aside
	aside.aside
		.aside_in
			a.aside__logo(href="#")
					.aside__logo_icon
						+icon( 'logo', 'icon--size_mod')
					h2.aside__logo_title Dashboard
						small v.01
			nav.aside__menu
				ul.aside__menu_list
					each asideItem in aside_array
						li.aside__menu_item
							a.aside__menu_link(href="#")
								if asideItem.icon
									.aside__menu_icon
										+icon( asideItem.icon, 'icon--size_mod')
								if asideItem.title
									h3.aside__menu_title= asideItem.title
								if asideItem.arrow
									.aside__menu_arrow
										+icon( asideItem.arrow, 'icon--size_mod')
			.aside__user
				.aside__user_image
					+picture({
						img: 'user.png',
						class: 'aside__user_image_in',
						img_class: 'aside__user_image_img',
						alt: 'user image',
					})
				.aside__user_content
					.aside__user_name Evano
					.aside__user_rank Project Manager