- sample_var = ['Customer Name', 'Company', 'Phone Number', 'Email', 'Country', 'Status'],
- number_array = ['1', '2', '3', '4', '...', '40'],
-
	sample_array = [
		{
			name: 'Jane Cooper',
			company: 'Microsoft',
			phone: {
				title: '(225) 555-0118',
				href: 'tel:0960099999',
			},
			email: {
				title: 'jane@microsoft.com',
				href: 'mailto:name@google.com',
			},
			country: 'United States',
			active: 'Active'
		},
		{
			name: 'Floyd Miles',
			company: 'Yahoo',
			phone: {
				title: '(205) 555-0100',
				href: 'tel:0960099999',
			},
			email: {
				title: 'floyd@yahoo.com',
				href: 'mailto:name@google.com',
			},
			country: 'Kiribati',
			inactive : 'inactive'
		},
		{
			name: 'Ronald Richards',
			company: 'Adobe',
			phone: {
				title: '(302) 555-0107',
				href: 'tel:0960099999',
			},
			email: {
				title: 'ronald@adobe.com',
				href: 'mailto:name@google.com',
			},
			country: 'Israel',
			inactive : 'inactive'
		},
		{
			name: 'Marvin McKinney',
			company: 'Tesla',
			phone: {
				title: '(252) 555-0126',
				href: 'tel:0960099999',
			},
			email: {
				title: 'marvin@tesla.com',
				href: 'mailto:name@google.com',
			},
			country: 'Iran',
			active : 'active'
		},
		{
			name: 'Jerome Bell',
			company: 'Google',
			phone: {
				title: '(629) 555-0129',
				href: 'tel:0960099999',
			},
			email: {
				title: 'jerome@google.com',
				href: 'mailto:name@google.com',
			},
			country: 'Réunion',
			active : 'active'
		},
		{
			name: 'Kathryn Murphy',
			company: 'Microsoft',
			phone: {
				title:'(406) 555-0120',
				href: 'tel:0960099999',
			},
			email: {
				title: 'kathryn@microsoft.com',
				href: 'mailto:name@google.com',
			},
			country: 'Curaçao',
			active : 'active'
		},
		{
			name: 'Jacob Jones',
			company: 'Yahoo',
			phone: {
				title:'(208) 555-0112',
				href: 'tel:0960099999',
			},
			email: {
				title: 'jacob@yahoo.com',
				href: 'mailto:name@google.com',
			},
			country: 'Brazil',
			active : 'active'
		},
		{
			name: 'Kristin Watson',
			company: 'Facebook',
			phone: {
				title:'(704) 555-0127',
				href: 'tel:0960099999',
			},
			email: {
				title:'kristin@facebook.com',
				href: 'mailto:name@google.com',
			},
			country: 'Åland Islands',
			inactive : 'inactive'
		}
	]
-
	mobile_array = [
		{
			name: {
				value:'Customer Name',
				title:'Jane Cooper',
			},
			company: {
				value:'Company',
				title:'Microsoft',
			},
			phone: {
				value:'Phone Number',
				title: '(225) 555-0118',
				href: 'tel:0960099999',
			},
			email: {
				value:'Email',
				title: 'jane@microsoft.com',
				href: 'mailto:name@google.com',
			},
			country: {
				value:'Country',
				title:'United States',
			},
			status: {
				value:'Status',
				title:'Active',
				active: 'true'
			}
		},
		{
			name: {
				value:'Customer Name',
				title:'Floyd Miles',
			},
			company: {
				value:'Company',
				title:'Yahoo',
			},
			phone: {
				value:'Phone Number',
				title: '(225) 555-0118',
				href: 'tel:0960099999',
			},
			email: {
				value:'Email',
				title: 'jane@microsoft.com',
				href: 'mailto:name@google.com',
			},
			country: {
				value:'Country',
				title:'Kiribati',
			},
			status: {
				value:'Status',
				title:'inctive',
				active: 'false'
			}
		},
		{
			name: {
				value:'Customer Name',
				title:'Ronald Richards',
			},
			company: {
				value:'Company',
				title:'Adobe',
			},
			phone: {
				value:'Phone Number',
				title: '(225) 555-0118',
				href: 'tel:0960099999',
			},
			email: {
				value:'Email',
				title: 'jane@microsoft.com',
				href: 'mailto:name@google.com',
			},
			country: {
				value:'Country',
				title:'Israel',
			},
			status: {
				value:'Status',
				title:'inctive',
				active: 'false'
			}
		},
		{
			name: {
				value:'Customer Name',
				title:'Marvin McKinney',
			},
			company: {
				value:'Company',
				title:'Tesla',
			},
			phone: {
				value:'Phone Number',
				title: '(225) 555-0118',
				href: 'tel:0960099999',
			},
			email: {
				value:'Email',
				title: 'jane@microsoft.com',
				href: 'mailto:name@google.com',
			},
			country: {
				value:'Country',
				title:'Iran',
			},
			status: {
				value:'Status',
				title:'Active',
				active: 'true'
			}
		},
		{
			name: {
				value:'Customer Name',
				title:'Jerome Bell',
			},
			company: {
				value:'Company',
				title:'Google',
			},
			phone: {
				value:'Phone Number',
				title: '(225) 555-0118',
				href: 'tel:0960099999',
			},
			email: {
				value:'Email',
				title: 'jane@microsoft.com',
				href: 'mailto:name@google.com',
			},
			country: {
				value:'Country',
				title:'Réunion',
			},
			status: {
				value:'Status',
				title:'Active',
				active: 'true'
			}
		},
		{
			name: {
				value:'Customer Name',
				title:'Kathryn Murphy',
			},
			company: {
				value:'Company',
				title:'Microsoft',
			},
			phone: {
				value: 'Phone Number',
				title: '(225) 555-0118',
				href: 'tel:0960099999',
			},
			email: {
				value:'Email',
				title: 'jane@microsoft.com',
				href: 'mailto:name@google.com',
			},
			country: {
				value:'Country',
				title:'Curaçao',
			},
			status: {
				value:'Status',
				title:'Active',
				active: 'true'
			}
		},
		{
			name: {
				value:'Jacob Jones',
				title:'Kathryn Murphy',
			},
			company: {
				value:'Company',
				title:'Yahoo',
			},
			phone: {
				value:'Phone Number',
				title: '(225) 555-0118',
				href: 'tel:0960099999',
			},
			email: {
				value:'Email',
				title: 'jane@microsoft.com',
				href: 'mailto:name@google.com',
			},
			country: {
				value:'Country',
				title:'Brazil',
			},
			status: {
				value:'Status',
				title:'Active',
				active: 'true'
			}
		},
		{
			name: {
				value:'Jacob Jones',
				title:'Kristin Watson',
			},
			company: {
				value:'Company',
				title:'Facebook',
			},
			phone: {
				value:'Phone Number',
				title: '(225) 555-0118',
				href: 'tel:0960099999',
			},
			email: {
				value:'Email',
				title: 'jane@microsoft.com',
				href: 'mailto:name@google.com',
			},
			country: {
				value:'Country',
				title:'Åland Islands',
			},
			status: {
				value:'Status',
				title:'inctive',
				active: 'false'
			}
		}
	]

	aside_array = [
		{
			icon: 'dashboard',
			title: 'Dashboard',
		},
		{
			icon: 'product',
			title: 'Product',
			arrow: 'arrow_sidebar'
		},
		{
			icon: 'customers',
			title: 'Customers',
			arrow: 'arrow_sidebar'
		},
		{
			icon: 'income',
			title: 'Income',
			arrow: 'arrow_sidebar'
		},
		{
			icon: 'promote',
			title: 'Promote',
			arrow: 'arrow_sidebar'
		},
		{
			icon: 'help',
			title: 'Help',
			arrow: 'arrow_sidebar'
		},
	]































mixin dont_use
	// mixin is needed for correct include in files